html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 40px;
    width: 95%;
    height: 85%;
}

.calendar-main {
    height: 100%;
}

.event-command {
    position: relative;
    bottom: 48px;
    margin: 10px;
    padding: 4px;
    z-index: 4;
}

.event-button {
    background-color: #6dabe4;
    color: white;
    margin: 4px;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    z-index: 4;
}

.event-button:hover {
    background-color: #386089;
    z-index: 4;
    color: white;
}

.input-timezone {
    position: relative;
    text-align: center;
}

.calendar-form {
    margin: 10px;
    padding: 10px;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border: 0;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}